#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
}
.app__container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee; 
    padding: 20px;
}
.app__container > * {
    width: 200px;
    margin: 20px;  
}